body {
    padding-top: 5rem;
    background-image: url("/static/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
}


.image img {
    width: 600px;
    height: 600px;
    position: 
    padding-left: 30px;
    margin-right: 0;
}

.btn, #home_btn1{
    min-width:220px;
    margin-right: 0.5em;
}

.btn, #home_btn2{
    min-width:220px;
    margin-right: 0.5em;
}


.container {
	

	height: 100%
	width:100%; 

}

.left{

	position: absolute;
	left:0px;
	width:50%;
	text-align: center;
	padding-top: 150px;
}
.image{

	position: absolute;
	right: 0px;
	width: 50%;
	height: 100%;
}
.form-group{

	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid grey;
	padding: 10px;

}
 h2{
	text-align: center;
}

.Newcarbox{
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid grey;
	padding: 50px;
}

.left{
    grid: 1;
}

.image {
    grid: 2;
}
