body {padding-top: 3.5rem;width: 100%;height: 100%;margin: 0px;}

nav.bg-primary {background-color: #202938 !important;}
.nav-header {font-size: 15px;}
.flex-area {display: flex;flex-direction: row;gap: 10px;}
body{background-color: rgba(247, 247, 247, 0.938);}

#register-btn{border-radius: 7px;}

